[Unit]
Description=Handler daemon responds to requests sent to cgi
After=network-online.target

[Service]
#Type=forking
ExecStart=/opt/weatherbot/handlerd -c config/config.json
ExecStop=/opt/weatherbot/handler-test STOP
TimeoutStartSec=60
WorkingDirectory=/opt/handler
Restart=always
RestartSec=10
User=weatherbot
Group=weatherbot

[Install]
WantedBy=multi-user.target

