[Unit]
Description=Handler daemon responds to requests sent to cgi
After=network-online.target

[Service]
#Type=forking
ExecStart=/opt/handler/handlerd
TimeoutStartSec=60
WorkingDirectory=/opt/handler
Restart=always
RestartSec=10
User=handler
Group=handler

[Install]
WantedBy=multi-user.target

